.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 260px;
    margin-top: 32px;
    

}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.input-username{
    padding: 7px 8px;
    border-radius: 4px;
    border: 1px hsla(215, 25%, 27%, 1) solid;
}

.input-username::placeholder{
    color: rgb(64, 72, 83) ;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
}



.btnLogin{
    font-size: 16px;
}

.containerFavorite{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    
    gap: 16px;
    width: 100%;
    height: 100%;
}