.card{
    width: 320px;
    height: 382px;
    border-radius: 16px;
    border: 1px;
    background-color: white;
    box-shadow: 0 2px 4px -2px hsla(0, 0%, 0%, 0.1),
                0  4px 6px -1px hsla(0, 0%, 0%, 0.1);
}

.card img{
    width: 100%;
    height: 220px;
    border-radius: 16px 16px 0 0;
}

.cardDetails{
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 8px;
}

.nameProject{
    font-size: 24px;
    font-weight: 700;
    color: hsla(222, 47%, 11%, 1);
}