.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  width: 100%;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 8px;
   
    
}


.game-info{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 230px;
    height: 232px;
    margin-left: 30px;

}
.game-info > p{
    font-size:24px;
    font-weight: 700;
    color: hsla(222, 47%, 11%, 1);
}



.btnMove, .btnReset{
    
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    width: 133px;

}

.btnMove{
    background-color: hsla(221, 91%, 60%, 1) ;
}   

.btnReset{
    background-color: hsla(0, 74%, 42%, 1)
}


